[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=GTK G-Rays2
Exec=gtk-g-rays2
Icon=gtk-g-rays2
Categories=GTK;Geoscience;Utility;Other;
Comment="Gtk+ management tool for WBT-201 GPS"
Terminal=false
Type=Application
